<div class="cont">
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      ((لاتظهر الشماته لاخيك فيرحمه الله ويبتليك)
    </p>
    رواه الترمذي.
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      (اجتنبوا السبع الموبقات قالوا يارسول الله وما هن؟ قال:الشرك بالله والسحر وقتل النفس التي حرم الله الا بالحق واكل
      الربا واكل مال اليتيم والتولي يوم الزحف وقذف المحصنات المؤمنات الغافلات)

  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      ((لعن رسول الله صلى الله عليه وسلم اكل الربا وموكله))
    </p>
    وزاد الترمذي و شاهديه و كاتبه.
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      ((نهى رسول الله عن القزع))
    </p>
    متفق عليه
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      ((لعن الله الواشمات والمستوشمات والمتنمصات والمتفلجات للحسن والمغيرات خلق الله))

    </p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      ((لاتنتفوا الشيب فانه نور المسلم يوم القيامه))
    </p>
    رواه ابو داود الترمذي
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      (( من عمل عملا ليس عليه امرنا فهو رد))
    </p>
    رواه مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      ((اذا بال احدكم فلا ياخذ ذكره بيمينه ولا يستنج بيمينه ولا يتنفس في الاناء))
    </p>
    متفق عليه.
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      ((النائحه اذا لم تتب قبل موتها تقام يوم القيامه وعليها سربال من قطران ودرع من جرب))
    </p>
    رواه مسلم.

    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      ((من حلف بالامانه فليس منا))
    </p>
    حديث صحيح .رواه ابو داود.
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      ((الكبائر:الاشراك بالله وعقوق الوالدين وقتل النفس واليمين الغموس.))
    </p>
    رواه البخاري.
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      ((لايسال بوجه الله الا الجنه))
    </p>
    رواه ابو داود.
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      ((ليس المؤمن بالطعان ولا اللعان ولا الفاحش ولا البذي))
    </p>
    رواه البخاري.
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      ((ان من احبكم الي واقربكم مني مجلسا يوم القيامه.احاسنكم اخلاقا وان ابغضكم الي وابعدكم مني يوم القيامه.الثرثارون.
      والمتشدقون. والمتفيقهون ))
    </p>
    رواه الترمذي.

    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      ((اما يخشى احدكم اذا رفع راسه قبل الامام ان يجعل الله راسه راس حمار او يجعل الله صورته صورة حمار))
    </p>
    متفق عليه.
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      ((لاصلاة بحضرة طعام ولا وهو يدافع الاخبثان))
    </p>
    رواه مسلم.
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      (((( اذا مرض العبد او سافر كتب له مثل ماكان يعمل مقيما صحيحا)
    </p>
    رواه البخاري

    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      (( من دل على خير فله مثل اجر فاعله)
    </p>
    رواه مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      (من دعا الى هدى كان له من الاجر مثل اجور من تبعه لاينقص ذلك من اجورهم شيئا.ومن دعا الى ضلاله كان عليه من الاثم مثل
      اثام من تبعه لاينقص ذلك من اثامهم شيئا)
    </p>
    رواه مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      :وعن ابي موسى رضي الله عنه قال:قال لي رسول الله صلى الله عليه وسلم </p>
    <p>
      ((الا ادلك على كنز من كنوز الجنة؟ فقلت بلى يارسول الله قال:لاحول ولا قوة الا بالله))
    </p>
    متفق عليه
    <p>
  </div>
  <div class="had main">
    <p>
      عن أبي هريرة رضي الله عنه أن رسول الله صلى الله عليه وسلم قال : </p>
    <p>
      ( ما أسفل من الكعبين من الإزار ففي النار )
    </p>
    البخاري
    <p>
  </div>
  <div class="had main">
    <p>
      عن أبي هريرة رضي الله عنه عن النبي صلى الله عليه وسلم قال : قال الله عز وجل : </p>
    <p>
      ( سبقت رحمتي غضبي )
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      عن أبي هريرة رضي الله عنه أن رسول الله صلى الله عليه وسلم قال :
    </p>
    <p>
      ( لقنوا موتاكم لا إله إلا الله )
    </p>
    مسلم.
    <p>
  </div>
  <div class="had main">
    <p>
      عن أبي هريرة رضي الله عنه أن رسول الله صلى الله عليه وسلم قال :
    </p>
    <p>
      ( لا يدخل الجنة من لا يأمن جاره بوائقه )
    </p>
    مسلم
    <p>
  </div>

  <div class="had main">
    <p>
      عن أبي هريرة رضي الله عنه أن رسول الله صلى الله عليه وسلم قال :
    </p>
    <p>
      ( الدنيا سجن المؤمن و جنة الكافر )
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      عن أبي هريرة رضي الله عنه أن رسول الله صلى الله عليه وسلم قال :
    </p>
    <p>
      ( من كذب علي متعمداً فليتبوأ مقعده من النار )
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      عن أبي هريرة رضي الله عنه أن رسول الله صلى الله عليه وسلم قال :
    </p>
    <p>
      ( إن الله يغار وغيرة الله أن يأتي المؤمن ما حرم عليه )
    </p>
    البخاري
    <p>
  </div>
  <div class="had main">
    <p>
      عن أبي هريرة رضي الله عنه أن رسول الله صلى الله عليه وسلم قال :
    </p>
    <p>
      ( من سلك طريقاً يلتمس فيه علماً سهَّل الله له به طريقاً إلى الجنة )
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      عن أبي هريرة رضي الله عنه أن رسول الله صلى الله عليه وسلم قال :
    </p>
    <p>
      ( حُجبت النار بالشهوات ، وحجبت الجنة بالمكارة )
    </p>
    البخاري .
    <p>
  </div>
  <div class="had main">
    <p>
      عن أبي هريرة رضي الله عنه أن رسول الله صلى الله عليه وسلم قال :
    </p>
    <p>
      ( من صلى علي صلاة واحدة صلى الله عليه بها عشراً )
    </p>
    مسلم .
    <p>
  </div>
  <div class="had main">
    <p>
      عن أبي هريرة رضي الله عنه أن رسول الله صلى الله عليه وسلم قال :
    </p>
    <p>
      ( كل المسلم على المسلم حرام دمه وماله وعرضه )
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      عن أبي هريرة رضي الله عنه أن رسول الله صلى الله عليه وسلم قال :
    </p>
    <p>
      ( لَلـَّهُ أشدُّ فرحاً بتوبة أحدكم من أحدكم بضالته إذا وجدها )
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      عن أبي هريرة رضي الله عنه أن رسول الله صلى الله عليه وسلم قال :
    </p>
    <p>
      ( لولا أن أشق على أمتي لأمرتهم بالسواك عند كل صلاة )
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      عن أبي هريرة رضي الله عنه أن رسول الله صلى الله عليه وسلم قال :
    </p>
    <p>
      ( من تاب قبل أن تطلع الشمس من مغربها ، تاب الله عليه )
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      عن أبي هريرة رضي الله عنه أن رسول الله صلى الله عليه وسلم قال :
    </p>
    <p>
      ( جزوا الشوارب وأرخوا اللحى خالفوا المجوس )
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      عن أبي هريرة رضي الله عنه أن رسول الله صلى الله عليه وسلم قال :
    </p>
    <p>
      (من قام رمضان إيماناً واحتساباً غُفِرَ له ما تقدم من ذنبه )
    </p>
    متفق عليه .
    <p>
  </div>
  <div class="had main">
    <p>
      عن أنس رضي الله عنه عن النبي صلى الله عليه وسلم أنه قال :
    </p>
    <p>
      ( سووا صفوفكم فإن تسوية الصف من إقامة الصلاة )
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      عن أنس رضي الله عنه عن النبي صلى الله عليه وسلم أنه قال :
    </p>
    <p>
      ( إنما الصبر عند الصدمة الأولى )
    </p>
    متفق عليه
    <p>
  </div>
  <div class="had main">
    <p>
      عن ابن عباس رضي الله عنهما قال : قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      ( نعمتان مغبون فيهما كثير من الناس: الصحة والفراغ )
    </p>
    البخاري
    <p>
  </div>
  <div class="had main">
    <p>
      عن أنس رضي الله عنه عن النبي صلى الله عليه وسلم أنه قال :
    </p>
    <p>
      ( يسروا ولا تعسروا ، وبشروا ولا تنفروا )
    </p>
    البخاري
    <p>
  </div>
  <div class="had main">
    <p>
      عن أنس رضي الله عنه عن النبي صلى الله عليه وسلم أنه قال :
    </p>
    <p>
      ( لا يؤمن أحدكم حتى أكون أحب إليه من والده وولده والناس أجمعين )
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      عن ابن عمر رضي الله عنه قال:أخذ رسول الله صلى الله عليه وسلم بمنكبي فقال :
    </p>
    <p>
      ( كن في الدنيا كأنك غريب أو عابر سبيل )
    </p>
    البخاري
    <p>
  </div>
  <div class="had main">
    <p>
      عن ابن عمر رضي الله عنه أن رسول الله صلى الله عليه وسلم قال :
    </p>
    <p>
      ( اجعلوا آخر صلاتكم بالليل وتراً )
    </p>
    متفق عليه
    <p>
  </div>
  <div class="had main">
    <p>
      عن جابر رضي الله عنه قال : سمعت رسول الله صلى الله عليه وسلم يقول :
    </p>
    <p>
      ( يبعث كل عبد على ما مات عليه )
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      عن جابر رضي الله عنه قال : سمعت رسول الله صلى الله عليه وسلم يقول :
    </p>
    <p>
      ( إن بين الرجل وبين الشرك والكفر ترك الصلاة )
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      عن ابن عمر رضي الله عنه أن رسول الله صلى الله عليه وسلم قال :
    </p>
    <p>
      ( كل مسكر خمر ، وكل مسكر حرام )
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      عن عائشة رضي الله عنه عن النبي صلى الله عليه وسلم قال :
    </p>
    <p>
      ( ركعتا الفجر خير من الدنيا وما فيها )
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      عن عائشة رضي الله عنه عن النبي صلى الله عليه وسلم قال :
    </p>
    <p>
      ( من أحدث في أمرنا هذا ما ليس منه فهو رد )
    </p>
    متفق عليه
    <p>
  </div>
  <div class="had main">
    <p>
      عن أبي هريرة رضي الله عنه أن رسول الله صلى الله عليه وسلم قال :
    </p>
    <p>
      ( من حمل علينا السلاح فليس منا ومن غشنا فليس منا )
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      (كُلُّ أُمَّتي يَدْخُلُونَ الجَنَّةَ إِلَّا مَن أَبَى، قالوا: يا رَسُولَ اللَّهِ، وَمَن يَأْبَى؟ قالَ: مَن
      أَطَاعَنِي دَخَلَ الجَنَّةَ، وَمَن عَصَانِي فقَدْ أَبَى)
    </p>
    البخاري
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      (خَيْرُكُمْ مَن تَعَلَّمَ القُرْآنَ وعَلَّمَهُ)
    </p>
    البخاري
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      (مَن مَاتَ وهْوَ يَدْعُو مِن دُونِ اللَّهِ نِدًّا دَخَلَ النَّارَ)
    </p>
    البخاري
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      (مَن تَرَكَ صَلَاةَ العَصْرِ حَبِطَ عَمَلُهُ)
    </p>
    البخاري
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      (قالَ اللَّهُ تَبارَكَ وتَعالَى: أنا أغْنَى الشُّرَكاءِ عَنِ الشِّرْكِ، مَن عَمِلَ عَمَلًا أشْرَكَ فيه مَعِي
      غيرِي، تَرَكْتُهُ وشِرْكَهُ)
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      (الْمُؤْمِنُ القَوِيُّ، خَيْرٌ وَأَحَبُّ إلى اللهِ مِنَ المُؤْمِنِ الضَّعِيفِ، وفي كُلٍّ خَيْرٌ احْرِصْ علَى ما
      يَنْفَعُكَ، وَاسْتَعِنْ باللَّهِ وَلَا تَعْجَزْ، وإنْ أَصَابَكَ شيءٌ، فلا تَقُلْ لو أَنِّي فَعَلْتُ كانَ كَذَا
      وَكَذَا، وَلَكِنْ قُلْ قَدَرُ اللهِ وَما شَاءَ فَعَلَ، فإنَّ لو تَفْتَحُ عَمَلَ الشَّيْطَانِ)
    </p>
    البخاري
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      (إنَّ اللَّهَ يَرْفَعُ بهذا الكِتَابِ أَقْوَامًا، وَيَضَعُ به آخَرِينَ)
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      (لا تَجْعَلُوا بُيُوتَكُمْ مَقابِرَ، إنَّ الشَّيْطانَ يَنْفِرُ مِنَ البَيْتِ الذي تُقْرَأُ فيه سُورَةُ البَقَرَةِ)
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      (مَن حَفِظَ عَشْرَ آياتٍ مِن أوَّلِ سُورَةِ الكَهْفِ عُصِمَ مِنَ الدَّجَّالِ)
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      (مَن نَفَّسَ عن مُؤْمِنٍ كُرْبَةً مِن كُرَبِ الدُّنْيَا، نَفَّسَ اللَّهُ عنْه كُرْبَةً مِن كُرَبِ يَومِ
      القِيَامَةِ، وَمَن يَسَّرَ علَى مُعْسِرٍ، يَسَّرَ اللَّهُ عليه في الدُّنْيَا وَالآخِرَةِ، وَمَن سَتَرَ مُسْلِمًا،
      سَتَرَهُ اللَّهُ في الدُّنْيَا وَالآخِرَةِ، وَاللَّهُ في عَوْنِ العَبْدِ ما كانَ العَبْدُ في عَوْنِ أَخِيهِ، وَمَن
      سَلَكَ طَرِيقًا يَلْتَمِسُ فيه عِلْمًا، سَهَّلَ اللَّهُ له به طَرِيقًا إلى الجَنَّةِ، وَما اجْتَمع قَوْمٌ في
      بَيْتٍ مِن بُيُوتِ اللهِ، يَتْلُونَ كِتَابَ اللهِ، وَيَتَدَارَسُونَهُ بيْنَهُمْ، إِلَّا نَزَلَتْ عليهمِ
      السَّكِينَةُ، وَغَشِيَتْهُمُ الرَّحْمَةُ وَحَفَّتْهُمُ المَلَائِكَةُ، وَذَكَرَهُمُ اللَّهُ فِيمَن عِنْدَهُ، وَمَن
      بَطَّأَ به عَمَلُهُ، لَمْ يُسْرِعْ به نَسَبُهُ. غيرَ أنَّ حَدِيثَ أَبِي أُسَامَةَ ليسَ فيه ذِكْرُ التَّيْسِيرِ
      علَى المُعْسِرِ)
    </p>
    مسلم
    <p>
  </div>
  <div class="had main">
    <p>
      قال رسول الله صلى الله عليه وسلم:
    </p>
    <p>
      (المُسْلِمُ مَن سَلِمَ المُسْلِمُونَ مِن لِسانِهِ ويَدِهِ، والمُهاجِرُ مَن هَجَرَ ما نَهَى اللَّهُ عنْه)
    </p>
    البخاري
    <p>
  </div>
</div>