.cont{
  display: flex ;
  flex-wrap: wrap ;
}
.had{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  border-style: groove !important;
  border-radius: 10%;
  margin-top: 16px;
  text-align: right;
}
p{
  margin: 12px;
}
