
.right{
  text-align: right;
  margin: 13px;
  color: #3e1212;

}
.cont{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  border-style: groove !important;
  border-radius: 10%;
  margin-top: 16px;
}
.raw{
  display: flex ;
  flex-wrap: wrap ;
}
.center{
  color: blue;
}
