<section class="holder">
<div class="only main sect main fathia">
  <a [routerLink]="['/landing/قران']">
    <h2 class="title" style="text-align: center;">القران الكريم</h2>
  </a>
  <div>
    <img class="basmalla" src={{basmalla}}>
    <p class="quran">الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ ﴿2﴾ الرَّحْمَٰنِ الرَّحِيمِ ﴿3﴾ مَالِكِ يَوْمِ الدِّينِ ﴿4﴾
      إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ ﴿5﴾ اهْدِنَا الصِّرَاطَ الْمُسْتَقِيمَ ﴿6﴾ صِرَاطَ الَّذِينَ أَنْعَمْتَ
      عَلَيْهِمْ غَيْرِ الْمَغْضُوبِ عَلَيْهِمْ وَلَا الضَّالِّينَ ﴿7﴾</p>
  </div>
</div>
<section class="row cont">

  <div class="sect main">
    <a [routerLink]="['/landing/غزوات']">
      <h2 class="title" style="text-align: center;">غزوات النبي</h2>
    </a>
    <div style="text-align: right;" class="" *ngFor=" let item of g |slice:0:5;">
      <P>{{item.id}} - {{item.name}}&nbsp;&nbsp; <span style="color: rgb(15, 15, 179);">{{item.when}}ھ </span></P>
    </div>
    <p>
      <a [routerLink]="['/landing/غزوات']">
        - اقرأ المزيد عنهم ...
      </a>
    </p>
  </div>
  <div class="sect main">
    <a [routerLink]="['/landing/الصحابة']">
      <h2 class="title" style="text-align: center;">الصحابة</h2>
    </a>
    <div style="text-align: right;" class="" *ngFor=" let item of s |slice:0:5;">
      <P> - {{item.name}} </P>
    </div>
    <p>
      <a [routerLink]="['/landing/الصحابة']">
        - اقرأ المزيد عنهم ...
      </a>
    </p>
  </div>
  <div class="sect main">
    <a [routerLink]="['/landing/شخصيات_اسلامية']">
      <h2 class="title" style="text-align: center;">شخصيات اسلامية</h2>
    </a>
    <div style="text-align: right;" class="" *ngFor=" let item of p |slice:0:5;">
      <P> - {{item.name}} </P>
    </div>
    <p>
      <a [routerLink]="['/landing/شخصيات_اسلامية']">
        - اقرأ المزيد عنهم ...
      </a>
    </p>
  </div>
  <div class="only sect main">
    <a [routerLink]="['/landing/احاديث']">
      <H2 class="title" style="text-align: center;">الآحاديث النبوية</H2>
    </a>
    <p>قال رسول الله صلى الله عليه وسلم:
    <p> (إِذَا مَاتَ الإنْسَانُ انْقَطَعَ عنْه عَمَلُهُ إِلَّا مِن ثَلَاثَةٍ: إِلَّا مِن صَدَقَةٍ جَارِيَةٍ، أَوْ عِلْمٍ
      يُنْتَفَعُ بِهِ، أَوْ وَلَدٍ صَالِحٍ يَدْعُو له).</p>
  </div>
</section>
</section>