.gh{
  height: 250px;
  overflow: scroll;
  direction: rtl !important;
}
.col-4{
  color: #3e1212;
  border-style: groove !important;
  border-radius: 13%;
  margin: 10px;
  margin-right: 26px;
}
.col-3{
  color: #3e1212;
  border-style: groove !important;
  border-radius: 13%;
  margin:5px;
}
