<div class="s">
<div class="cont">
  <p >
    <a href="">
    سورة الفاتحة</a>
  </p>
</div>
<div class="cont">
  <p >
    <a href="">
    سورة البقرة
  </a>
  </p>
</div><div class="cont">
  <p >
    <a href="">
    سورة آل عمران
  </a>
  </p>
</div><div class="cont">
  <p ><a href="">
    سورة النساء
  </a>
  </p>
</div><div class="cont">
  <p ><a href="">
    سورة المائدة
  </a>
  </p>
</div><div class="cont">
  <p ><a href="">
    سورة الأنعام
  </a>
  </p>
</div><div class="cont">
  <p ><a href="">
    سورة الأعراف
  </a>
  </p>
</div><div class="cont">
  <p ><a href="">
    سورة الأنفال
  </a>
  </p>
</div>
<div class="cont">
  <p >
    <a href="">
      سورة التوبة

    </a>
</p>
</div>
<div class="cont">
  <p >
    <a href="">
      سورة يونس

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة هود

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة يوسف

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الرعد

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة إبراهيم

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الحجر

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة النحل

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الإسراء

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
سورة الكهف

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة مريم

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة طه

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الأنبياء

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الحج

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة المؤمنون

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة النور

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الفرقان

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الشعراء

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة النمل

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة القصص

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة العنكبوت

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الروم

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة لقمان

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة السجدة

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الأحزاب

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة سبأ

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة فاطر

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة يس

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الصافات

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة ص

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الزمر

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة غافر

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة فصلت

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الشورى

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الزخرف

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الدخان

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الجاثية

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الأحقاف

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة محمد

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الفتح

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الحجرات

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة ق

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الذاريات

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الطور

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة النجم

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة القمر

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الرحمن

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الواقعة

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الحديد

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة المجادلة

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الحشر

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الممتحنة

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الصف

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الجمعة

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة المنافقون

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة التغابن

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الطلاق

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة التحريم

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الملك

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة القلم

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الحاقة

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة المعارج

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة نوح

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الجن

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة المزمل

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة المدثر

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة القيامة

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الإنسان

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة المرسلات

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة النبأ

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة النازعات

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة عبس

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة التكوير

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الانفطار

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة المطففين

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الانشقاق

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة البروج

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الطارق

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الأعلي

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الغاشيه

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الفجر

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة البلد

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الشمس

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الليل

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الضحى

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الشرح

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة التين

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة العلق

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة القدر

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة البينة

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الزلزلة

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة العاديات

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة القارعة

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة التكاثر

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة العصر

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الهمزة

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الفيل

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة قريش

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الماعون

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الكوثر

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الكافرون

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة النصر

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة المسد

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الإخلاص

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الفلق

    </a>
</p>
</div><div class="cont">
  <p >
    <a href="">
      سورة الناس

    </a>
</p>
</div>
</div>
