@import url(//db.onlinewebfonts.com/c/2c1ce06a505728976c1d2993407312b5?family=KFGQPC+Uthmanic+Script+HAFS);
.cont{
  display: flex ;
  flex-wrap: wrap ;
}
.main{
  text-align: right;
  color: rgb(2,5, 59);
  font-size: 20px;
  text-align: right;
}
p{
  margin: 12px;
}
.name{
  text-align: center;
  color: rgb(2,5, 128);
  font-size: 30px;
  margin-bottom: 25px;
}
